#intro {
    background-image: url("../img/header.jpg");
    height: 100vh;
    margin-top: 0px;
    display: flex;
}

.float {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 50%;
    margin: auto;
    margin-top: auto;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

#about {
    background-color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    padding: 2em;
    color: white;
}

#subcommittees {
    background-color: rgb(45, 56, 113);
    display: block;
    margin: auto;
    padding: 2em;
    color: white;
}

h1 {
    font-weight: 100;
    font-size: 3rem !important;
}

h2 {
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

.card-title {
    background-color: #000000b3;
}

ul {
    list-style: circle;
}

#alumni {
    background-color: rgb(45, 113, 70);
    display: block;
    margin: auto;
    padding: 2em;
    color: white;
}

.footerbtn{
    margin: 2px;
}

* {
    font-family: "Quicksand" !important;
}

@media screen and (max-width: 507px) {
    .brbutton {
        margin-top: 10px;
    }
  }

  @media screen and (max-width: 400px) {
    .footerbtn {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
  }

  .hamburger {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
}